.main-div {
    text-align: center;
    font-family: sans-serif;
    margin-top: 45vh;
}

.button {
    width: 300px !important;
    height: 50px;
    font-size: 20px;
    font-family: sans-serif;
    background-color: cornflowerblue;
    color: white;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}